*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: Helvetica;
    font-weight: 80;
    text-align: center;
}

th {
    min-width: 100px;
    cursor: default;
    border: 0px;
}

button {
    background-color: rgba(0,200,255,0.8); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0,0,90,0.3);
    text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  }

button:hover {
    box-shadow: 0px 0px 20px rgb(200, 250, 255);
}

button:active {
    background-color: rgba(0, 100, 127,0.8);
    box-shadow: 0px 0px 20px rgba(255,100,255,0.8);
  }

table {
    margin:0 auto;
    width:74%;
    border: 10px solid rgba(255,255,255,.3);
    background-color: rgba(0,0,0,.15);
}

tr:hover {
    background-color: rgba(255,255,255,.3);
  }

td {
    cursor: default;
    border: 0px;
}

section{
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #FF8059, #ED78A5, rgb(169, 205, 218));
    position: relative;
}

h1  {
    font-size: 5rem;
    letter-spacing: 2px;
    font-weight: 30;
    cursor: default;
    text-shadow: 2px 2px 13px rgba(0,0,0,0.4);
    
}

h3 {
    position: absolute;
    left: 25%;
    top: 160px;
}

a {
    color: rgb(100%, 63.2%, 81.6%);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}